<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/springy.js"></script>
    <script src="/javascripts/springyui.js"></script>
    <script src="/javascripts/vector3.js"></script>
    <script src="/javascripts/canvas_live.js"></script>


    <h1><%= title %></h1>
    <h2 id="nodetext"> <%= title %></h2>
    <canvas id="ncanvas" width="640" height="480" style="padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;">
    </canvas>
    <div id="wrapper" style="text-align: center">
      <div id="chart" style="display: inline-block;"></div>
    </div>
    <a href="/3d">3D Mode</a>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="/javascripts/like_pie.js"></script>
  </body>
</html>
