<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/springy.js"></script>
    <script src="/javascripts/springyui.js"></script>
    <script src="/javascripts/vector3.js"></script>
    <script src="/javascripts/canvas_live.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="/javascripts/like_pie.js"></script>

    <h1><%= title %></h1>
    <p id="nodetext"> <%= title %></p>
    <canvas id="ncanvas" width="640" height="480">
    </canvas>
    <a href="/3d">3D Mode</a>
    <a href="/">Record Mode</a>
  </body>
</html>
